@tailwind base;
@tailwind components;
@tailwind utilities;
/* slick-carousel styles */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-blue: 59, 130, 246;
  --color-green: 16, 185, 129;
  --color-orange: 249, 115, 22;
  --color-red: 239, 68, 68;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to right,
    rgba(var(--color-blue), 0.1),
    rgba(var(--color-green), 0.1),
    rgba(var(--color-orange), 0.1),
    rgba(var(--color-red), 0.1)
  );
}

.fade-in {
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px;  /* Increase font size */
  color: black;     /* Change color if desired */
}